
.container{
    opacity: 0.8;
    background-color: cornflowerblue;
    width: 40%;
    border-radius: 25px;
    border-style: dashed;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card { 
background-color: cornflowerblue;

}

img{
    width: 200px;
}